body {
    background-color: #dfdfdf;
    margin: 0%;
}

body li,
p {
    font-family: 'Open-Sans', sans-serif;
    color: #6b6b6b;
    text-align: justify;
    line-height: 1.4;
}

body h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
    color: #7aaddb;
}

/*-----------------------------------MENU-START------------------------------*/

label {
    display: block;
    cursor: pointer;
    color: #6b6b6b;
    float: right;
    margin-top: -12px;
    margin-right: 2%;
}

.menu {
    text-align: center;
    width: 100%;
    display: none;
    z-index: 2;
    position: absolute;
    background-color: #f5f5f5;
    margin-top: 9%;
}

.menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
    color: #6b6b6b;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 9px;
}

.menu a:hover {
    background-color: #7aaddb;
    color: white;
}

#toggle:checked + .menu {
    display: block;
}

#toggle {
    display: none;
}

/*-----------------------------------MENU-SLUT------------------------------*/

/*--------------------------------HEADER-START------------------------------*/

.hblaa {
    grid-area: header;
    background-color: #7aaddb;
}

.hhvid {
    grid-area: header2;
    background-color: #ffffff
}

.hgraa {
    grid-area: header3;
    background-color: #f5f5f5
}

.grid-container1 {
    display: grid;
    grid-template-areas: 'header' 'header2' ' header3';
    grid-template-rows: 30px 60px 60px;
}

.grid-container1 > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

#logo {
    width: 80%;
    margin-left: 1%;
    margin-top: -2%;
    float: left;
}

#tlf {
    margin-top: -20px;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    color: white;
    text-decoration: none;
}

/*--------------------------------HEADER-SLUT------------------------------*/

/*--------------------------------TOP-BILLEDE-START-------------------------*/

.mobilskov {
    width: 94%;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;
    position: relative;
}

.aabningstid {
    width: 40%;
    position: absolute;
    margin-top: 63%;
    margin-left: 30%;
    z-index: 1;
    transition: transform 0.5s;
}

.aabningstid:hover {
    padding: 5px;
    transform: scale(1.2);
    margin-left: 29%;
    -ms-transform: translateY(1.2);
    -webkit-transform: translateY(1.2);
    -moz-transform: translateY(1.2);
    -o-transform: translateY(1.2);
}

.nypatient {
    width: 40%;
    position: absolute;
    margin-top: 78%;
    margin-left: 30%;
    z-index: 1;
    transition: transform 0.5s;
}

.nypatient:hover {
    padding: 5px;
    transform: scale(1.2);
    margin-left: 29%;
    -ms-transform: translateY(1.2);
    -webkit-transform: translateY(1.2);
    -moz-transform: translateY(1.2);
    -o-transform: translateY(1.2);
}

.skov {
    width: 100%;
    display: none;
    margin-top: 1%;
}

/*--------------------------------TOP-BILLEDE-SLUT--------------------------*/

/*--------------------------------CSS-GRID-START-----------------------------*/

.ts1,
.ts,
.omos {
    width: 100%;
}

.item2 {
    grid-area: tandlaegeskraek;
    display: none;
}
.item2:hover {
    opacity: 0.6;
    transition: .5s ease;
}

.item3 {
    grid-area: priser;
    display: none;
}
.item3:hover {
    opacity: 0.6;
    transition: .5s ease;
}

.item4 {
    grid-area: billede;
    display: none;
}

.item5 {
    grid-area: omos;
}
.item5:hover {
    opacity: 0.6;
    transition: .5s ease;
}
.item6:hover {
    opacity: 0.6;
    transition: .5s ease;
}
.item7 {
    grid-area: prisermobil;
    display: block;
}
.item7:hover {
    opacity: 0.6;
    transition: .5s ease;
}

.grid-container {
    display: grid;
    grid-template-areas: 'tandlaegeskraek' 'prisermobil' 'omos' 'billede';
    grid-gap: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

.grid-container > div {
    text-align: center;
}

/*--------------------------------CSS-GRID-SLUT-----------------------------*/

/*----------------------------------Ny patient MOBIL———————————————*/

.tandpastabillede {
    
    display: none;
}

.tandpastabillede1{
    width: 100%;
}



.nypatienttekst {
  
    background-color: white;
    padding: 1%;
    
}

.kopbillede {
    
    width: 100%; 
   
}



.tandpastabillede {
    
    width: 100%; 
    

}

.afbudtekst {
    
    background-color: white;
    
      padding: 1%;
    }
.omostlf {
    text-decoration-line: underline;
    color: #7aaddb;
}

/*----------------------------------Ny patient MOBIL———————————————*/

/* OMOS */

.omosgrid {
    display: grid;
    grid-template-areas: ' aabningstider' 'mai' 'mammad''lotte''camilla' 'hanna''mission';
    grid-template-columns: 1fr;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    grid-gap: 1%;
}


.aabningstider {
    grid-area: aabningstider;
    text-align: center;
    background-color: white;
    margin-bottom: 3%;
    border-style: solid;
    color: #7aaddb;

}

.aabningsbillede {
    margin-left: 13%;
    margin-right: 13%;
    width: 74%;
    margin-top: 2%;
    display: none;
}

span {
    color: #7aaddb;
}

.personaletitel {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #7aaddb;
    font-size: 90%;
    color: #6b6b6b;
    margin: 0;
}

.dage {
    line-height: 1.8;
    text-align: center;
}

.profil {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    margin-top: 2%;
}

.mai {
    grid-area: mai;
    background-color: white;
    margin-bottom: 3%;
    padding: 4%;
box-shadow: 2px 3px #7aaddb;
}

.mammad {
    grid-area: mammad;
    background-color: white;
    margin-bottom: 3%;
     padding: 4%;
    box-shadow: 2px 3px #7aaddb;
}

.lotte {
    grid-area: lotte;
    background-color: white;
     padding: 4%;
    margin-bottom: 3%;
 box-shadow: 2px 3px #7aaddb;}

.camilla {
    grid-area: camilla;
    background-color: white;
     padding: 4%;
    margin-bottom: 3%;
 box-shadow: 2px 3px #7aaddb;}

.hanna {
    grid-area: hanna;
    background-color: white;
     padding: 4%;
    margin-bottom: 3%;
 box-shadow: 2px 3px #7aaddb;}

.mission {
    grid-area: mission;
    color: #6b6b6b;
    background-color: white;
    margin-bottom: 3%;
     padding: 4%;
    display: none;
     box-shadow: 2px 3px #7aaddb;
}

.omosgrid h4 {
    text-align: center;
}

/* OM OS SLUT*/

/*TANDSKRÆK START */

  .tandgrid {
        display: flex;
     flex-direction: column;
       margin-left: 3%;
      margin-right: 8%;
    }
    .tandinfo {
    margin-top: 3%;
        margin-bottom: 3%;
    background-color: white;
    display: flex;
        flex-direction: column;
    width: 100%;
        padding: 3%;
        box-shadow: 2px 3px #7aaddb;
}

    .tandinfo2 {
    background-color: white;
    display: flex;
         flex-direction: column;
    width: 100%;
        padding: 3%;
        box-shadow: 2px 3px #7aaddb;
}
    
.tandinfo h2 {
    line-height: 0%;
font-size: 130%;
}
.tandinfo2 h2 {
    line-height: 0%;
    font-size: 130%;
}
    .blomst {
   display: none;
    }
 
/*TANDSKRÆK slut */
/*--------------------------------FOOTER-START-----------------------------*/

.gridfooter {
    display: grid;
    grid-template-areas: 'footer';
    position: relative;
    grid-template-rows: 50px
}

footer {
    grid-area: footer;
    background-color: white;
    margin-top: 2%;
}

.fblogo {
    width: 6%;
    float: right;
    margin-right: 15%;
    margin-top: 3%;
}

.maps {
    width: 6%;
    float: right;
    margin-right: 3%;
    margin-top: 3%;
}

#footeradresse {
    float: left;
    margin-left: 3%;
    font-family: 'Roboto', sans-serif;
    color: #6b6b6b;
    font-size: 70%;
}

#footertlf {
    display: none;
}

/*--------------------------------FOOTER-SLUT-----------------------------*/

/*--------------------------------TABLET-START-----------------------------*/

/*--------------------------------TABLET-START-----------------------------*/

@media only screen and (min-width: 480px) {

    /*-----------------------------------MENU-START-----------------------------*/
    .menu {
        display: flex;
        margin-top: 0%;
        justify-content: center;
    }
    .menu a {
        clear: right;
        text-decoration: none;
        color: gray;
        font-size: 36%;
        margin: 2%;
        margin-top: 2px;
        font-family: 'Roboto', sans-serif;
    }
    .menu a:hover {
        background-color: #7aaddb;
        padding: 7px;
        color: white;
        margin-top: -5px;
    }
    label {
        margin: 0 40px 0 0;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }
    #toggle {
        display: none;
    }
    /*-----------------------------------MENU-SLUT-----------------------------*/
    /*-----------------------------------HEADER-START-----------------------------*/
    #logo {
        width: 48%;
        margin-left: 10%;
        margin-top: -1.5%
    }
    #tlf {
        padding-top: 4px;
        font-family: 'Roboto', sans-serif;
        font-size: 60%;
        color: white;
    }
    /*-----------------------------------HEADER-SLUT-----------------------------*/
    /*--------------------------------TOP-BILLEDE-START-------------------------*/
    .skov {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
    }
    .aabningstid {
        width: 18%;
        position: absolute;
        margin-top: -14%;
        margin-left: 40%
    }
    .aabningstid:hover {
        margin-left: 39%;
    }
    .nypatient {
        width: 18%;
        position: absolute;
        margin-top: -7%;
        margin-left: 40%;
    }
    .nypatient:hover {
        margin-left: 39%;
        margin-top: -8%;
    }
    .mobilskov {
        width: 100%;
        display: none;
    }
    /*--------------------------------TOP-BILLEDE-SLUT-------------------------*/
    /*--------------------------------CSS-GRID-START-------------------------*/
    .item2 {
        grid-area: tandlaegeskraek;
        display: none;
    }
    .item3 {
        grid-area: priser;
        display: block;
    }
    .item4 {
        grid-area: billede;
        display: block;
    }
    .item5 {
        grid-area: omos;
    }
     .item6 {
        grid-area: tandlaegeskraekipad;
        display: block;
    }
    .item7 {
    grid-area: prisermobil;
    display: none;
}
    .grid-container {
        display: grid;
        grid-template-areas: 'priser billede' 'tandlaegeskraekipad tandlaegeskraekipad' 'omos omos';
        margin-left: 10%;
        margin-right: 10%;
    }
    .grid-container > div {
        text-align: center;
    }
    .gridfooter {
        display: grid;
        grid-template-areas: 'footer';
        position: relative;
        grid-template-rows: 80px;
    }
    /*--------------------------------CSS-GRID-SLUT-------------------------*/
    /*--------------------------------Ny patient TABLET————————————*/

     
.nypatientflex {
    margin-left: 13%;
    margin-right: 13%;
    display: flex;
 align-content: flex-end;
    width: 100%;
        height: 200px; 
        
        
        
        }
.nypatienttekst {
 margin: 0.5%;
    background-color: white;
    width: 35%;
    padding: 0.5%;
    height: 200px;
    font-size: 66%;
 line-height: 1.3%;
    
}

.kopbillede {
    
margin: 0.5%;
    background-color: white;
    width: 34%; 
    height: 210px; 
   
}

    
.nypatientflex1{
    margin-left: 13%;
    margin-right: 13%;
    display: flex;
    align-content: center;
height: 250px;
    margin-top: 02%;
    width: 100%;

}

.tandpastabillede {
   margin: 0.5%;
    display: block;
    width: 36%; 
   height: 210px;

}

.afbudtekst {
   align-content: stretch;
    background-color: white;
    padding: 0.5%;
    width:33%;
    margin: 0.5%;
    height: 204px;
    font-size: 60%;
    line-height: 1.3%;
    
    }
    
    
    .tandpastabillede1{
    display: none;
}

    
    /*--------------------------------Ny patient TABLET————————————*/
    /*--------------------------------FOOTER-START-------------------------*/
    .fblogo {
        width: 4%;
        margin-top: 2%;
        float: right;
    }
    .maps {
        width: 4%;
        margin-top: 2%;
        float: right;
        margin-right: 10%;
    }
    #footeradresse {
        float: left;
        margin-left: 10%;
        font-family: 'Roboto', sans-serif;
        color: #6b6b6b;
        font-size: 15px;
    }


    /*--------------------------------FOOTER-SLUT-------------------------*/
    /*--------------------------------TABLET-SLUT-----------------------------*/
    /*--------------------------------TABLET-SLUT-----------------------------*/
    .omosgrid {
        display: grid;
        grid-template-areas: 'mai mammad' 'lotte hanna' 'camilla none';
        grid-template-columns: 1fr 1fr;
        margin-left: 13%;
        margin-right: 13%;
        margin-top: 2%;
        grid-gap: 1%;
    }

    .aabningstider {
        grid-area: aabningstider;
        text-align: left;
        background-color: white;
        margin-bottom: 3%;
        display: none;
    }

    .aabningsbillede {
        margin-left: 13%;
        margin-right: 13%;
        width: 74%;
        margin-top: 2%;
        display: block;
    }

    .aabningstider h2 {
        text-align: center;
        color: #7aaddb;

    }

    #dage {
        color: #7aaddb;
        font-size: 120%;

    }

    #tidspunkt {
        color: #6b6b6b;
        font-size: 120%;

    }


    .profil {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 40%;
        margin-top: 2%;
    }

    .mai {
        grid-area: mai;
        background-color: white;
        margin-bottom: 3%;
         padding: 5%;
    }

    .mammad {
        grid-area: mammad;
        background-color: white;
        margin-bottom: 3%;
         padding: 5%;
    }

    .lotte {
        grid-area: lotte;
        background-color: white;
        padding: 5%;
    }

    .camilla {
        grid-area: camilla;
        background-color: white;
        padding: 5%;
    }

    .hanna {
        grid-area: hanna;
        background-color: white;
        padding: 5%;
    }

    .mission {
        grid-area: mission;
        color: #6b6b6b;
        background-color: white;
        margin-bottom: 3%;
         padding: 5%;
        display: none;
    }

    .omosgrid h4 {
        text-align: center;
    }


/*TANDSKRÆK START*/ 

 .tandgrid {
        display: flex;
     flex-direction: column;
        margin-right: 11%;
        margin-left: 10%;
    }
    .tandinfo {
    margin-top: 3%;
        margin-bottom: 3%;
    background-color: white;
    display: flex;
        flex-direction: column;
    width: 100%;
        padding: 2%;
    }

    .tandinfo2 {
    background-color: white;
    display: flex;
         flex-direction: column;
    width: 100%;
        padding: 2%;
    }
    .blomst {
        width: 82.1%;
        margin-right: 10%;
        margin-left: 10%;
        display: block;
        margin-top: 2%;
    }

/*TANDSKRÆK SLUT*/ 
/*--------------------------------PC-START-----------------------------*/

/*--------------------------------PC-START-----------------------------*/
}
@media only screen and (min-width: 1024px) {

    /*-----------------------------------MENU-START-----------------------------*/
    .menu {
        display: flex;
        justify-content: center;
    }
    .menu a {
        clear: right;
        text-decoration: none;
        color: gray;
        font-size: 45%;
        margin: 2%;
        margin-top: 2px;
        font-family: 'Roboto', sans-serif;
    }
    .menu a:hover {
        background-color: #7aaddb;
        padding: 7px;
        color: white;
        margin-top: -5px;
    }
    label {
        margin: 0 40px 0 0;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }
    #toggle {
        display: none;
    }
    /*-----------------------------------MENU-SLUT---------------------------*/
    /*---------------------------------HEADER-START--------------------------*/
    #logo {
        width: 30%;
        margin-left: 13%;
        margin-top: -1%;
    }
    #tlf {
        font-family: 'Roboto', sans-serif;
        font-size: 60%;
        color: white;
    }
    .grid-container1 {
        display: grid;
        grid-template-areas: 'header' 'header2' ' header3';
        grid-template-rows: 30px 60px 60px;
    }
    .grid-container1 > div {
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }
    /*---------------------------------HEADER-SLUT--------------------------*/
    /*------------------------------TOP-BILLEDE-START------------------------*/
    .skov {
        width: 74%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }

    .aabningstid {
        width: 14%;
        position: absolute;
        margin-top: -14%;
        margin-left: 43%
    }
    .aabningstid:hover {
        margin-left: 42.5%;
    }

    .nypatient {
        width: 14%;
        position: absolute;
        margin-top: -7%;
        margin-left: 43%;
    }
    .nypatient:hover {
        margin-left: 42.5%;
    }
    .mobilskov {
        width: 100%;
        display: none;
    }
    /*------------------------------TOP-BILLEDE-SLUT------------------------*/
    /*---------------------------------Ny patient PC SKÆRM—————————————*/
    .nypatientflex {
    margin-left: 13%;
    margin-right: 13%;
    display: flex;
    align-content: stretch;
    width: 100%;
    height: 300px;
    
}



.nypatienttekst {
 margin-top: 1%;
    background-color: white;
    width: 30%;
    padding: 0.5%;
    font-size: 90%; 
    height: 300px; 
    
    
}

.kopbillede {
    
margin: 1%;
    background-color: white;
    width: 36%; 
    height: 310px; 
    align-content: flex-end;
     
   
}

    
.nypatientflex1{
    margin-left: 13%;
    margin-right: 13%;
    display: flex;
    width: 100%;
    margin-top: 4%; 
    

    
}

.tandpastabillede {
    display: block;
    width: 31%; 
    height: 50%; 
    height: 200px; 

}

.afbudtekst {
   
    background-color: white;
    padding: 0.5%;
    width:37%;
    font-size: 90%;
     height: 190px; 
    }
    
    
    .tandpastabillede1
    {
    display: none;
}



    /*---------------------------------Ny patient PC SKÆRM—————————————*/
    /*---------------------------------CSS-GRID-START--------------------------*/
    .item2 {
        grid-area: tandlaegeskraek;
        display: block;
    }
    .item3 {
        grid-area: priser;
        display: block;
    }
    .item4 {
        grid-area: billede;
        display: block;
    }
    .item5 {
        grid-area: omos;
        margin-top: 2.1%;
    }
     .item6 {
        grid-area: tandlaegeskraekipad;
        display: none;
    }
    .item7 {
    grid-area: prisermobil;
    display: none;
}
    
    .grid-container {
        display: grid;
        grid-template-areas: 'tandlaegeskraek tandlaegeskraek priser billede''tandlaegeskraek tandlaegeskraek omos omos';
        margin-left: 13%;
        margin-right: 13%;
        margin-top: 1%;
        grid-gap: 1%;
    }
    /*---------------------------------CSS-GRID-SLUT--------------------------*/
    /*---------------------------------FOOTER-START--------------------------*/
    .gridfooter {
        display: grid;
        grid-template-areas: 'footer';
        position: relative;
        grid-template-rows: 80px
    }
    footer {
        grid-area: footer;
        background-color: white;
        margin-top: 2%;
    }
    .fblogo {
        width: 2.4%;
        float: right;
        margin-right: 23%;
        margin-top: -2.9%
    }
    .maps {
        width: 2.7%;
        float: right;
        margin-top: -3.3%;
        margin-right: 13%;
    }
    #footeradresse {
        float: left;
        margin-left: 13%;
        font-family: 'Roboto', sans-serif;
        color: #6b6b6b;
        font-size: 15px;
    }
    #footertlf {
        margin-left: 45%;
        font-family: 'Roboto', sans-serif;
        color: #6b6b6b;
        display: block;
        font-size: 15px;
    }
    a {
        text-decoration: none;
    }
    /*---------------------------------FOOTER-SLUT--------------------------*/
    /*---------------------------------PC-SLUT--------------------------*/
    /*---------------------------------PC-SLUT--------------------------*/
    /*---------------------------------PRISER-START--------------------------*/
    strong {

        background-color: white;
    }
    .columns {
        background-color: white;
        margin-left: 13%;
        margin-right: 13%;
    }

    li {
        font-size: 80%;
        display: block;
        background-color: white;
        text-align: left;
        padding-top: 2%;
        padding-bottom: 2%;
        color: #6b6b6b;
    }

    .haha {
        text-decoration: underline;
        text-align: left;
    }
    .price {
        background-color: white;
    }
    .hpris {
        margin-left: 4.5%;
        color: #7aaddb;
    }
    /*---------------------------------PRISER-SLUT--------------------------*/
     /*---------------------------------OM OS---------------------------*/
    
    .aabningsbillede {
        margin-left: 13%;
        margin-right: 13%;
        width: 74%;
        margin-top: 2%;
        display: block;
    }

    .omosgrid {
        display: grid;
        grid-template-areas: 'mai mammad mission' 'lotte camilla hanna';
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 13%;
        margin-right: 13%;
        margin-top: 1%;
        grid-gap: 1%;
    }
    .aabningstider {
        grid-area: aabningstider;
        text-align: left;
        background-color: white;
        margin-bottom: 3%;
        align-content: stretch;
        display: none;
    }

    .profil {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 40%;
        margin-top: 2%;
    }
    .mai {
        grid-area: mai;
        background-color: white;
        margin-bottom: 3%;
         padding: 5%;
    }
    .mammad {
        grid-area: mammad;
        background-color: white;
        margin-bottom: 3%;
         padding: 5%;
    }
    .lotte {
        grid-area: lotte;
        background-color: white;
         padding: 5%;
        margin-bottom: 3%;
    }
    .camilla {
        grid-area: camilla;
        background-color: white;
         padding: 5%;
        margin-bottom: 3%;
    }
    .hanna {
        grid-area: hanna;
        background-color: white;
        padding: 5%;
        margin-bottom: 3%;
    }
    .mission {
        grid-area: mission;
        color: #6b6b6b;
        background-color: white;
        margin-bottom: 3%;
        padding: 5%;
        display: block;
    }

    .omosgrid h4 {
        text-align: center;
    }
     /*---------------------------------OM SLUT---------------------------*/
     /*---------------------------------Tandlægeskræk-start-------------------------*/
    .tandgrid {
        display: flex;
        margin-right: 13%;
        margin-left: 13%;
        flex-direction: row;
    }
    .tandinfo {
    margin: 2% 1% 1% 0%;
    background-color: white;
    display: flex;
        flex-direction: column;
    width: 100%;
        padding: 2%;
        
    }
    .tandinfo h2 {
line-height: 0%;
    }
      .tandinfo2 h2 {
line-height: 0%;
    }
    .tandinfo2 {
    margin: 2% 0% 1% 1%;
    background-color: white;
    display: flex;
         flex-direction: column;
    min-height: 100px;
    width: 100%;
           padding: 2%;
    }
    .blomst {
        width: 74%;
        margin-right: 13%;
        margin-left: 13%;
        display: block;
     margin-top: 0.5%;
    }
}
