html,

body {
    background-color: #dfdfdf;
    margin: 0%;
}

/*------------------MENU--------------------*/

label {
    display: block;
    cursor: pointer;
    color: #6b6b6b;
    float: right;
    margin-top: -12px;
    margin-right: 2%;
}

.menu {
    text-align: center;
    width: 100%;
    display: none;
    z-index: 1;
    position: absolute;
    background-color: #f5f5f5;
    margin-top: 11%;

}

.menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
    color: #6b6b6b;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 9px;



}

.menu a:hover {
    background-color: #7aaddb;
    color: white;

}

#toggle:checked + .menu {
    display: block;
}

#toggle {
    display: none;
}

/*---------------------MENU-----------------*/

/*MARTIN*/

.item6 {
    grid-area: header;
    background-color: #7aaddb;
}

.item7 {
    grid-area: header2;
    background-color: #ffffff
}

.item8 {
    grid-area: header3;
    background-color: #f5f5f5
}

.grid-container1 {
    display: grid;
    grid-template-areas: 'header header header header header header' 'header2 header2 header2 header2 header2 header2' 'header3 header3 header3 header3 header3 header3';
    grid-template-rows: 30px 60px 60px;


}

.grid-container1 > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

#logo {
    width: 80%;
    margin-left: 1%;
    margin-top: -2%;
    float: left;
}

#tlf {
    margin-top: -20px;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    color: white;

}

/*------Martin-----------*/

.mobilskov {
    width: 94%;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;
    z-index: -1;
}

.ts,
.omos,
.ts1 {
    width: 100%;
}

.skov {
    width: 100%;
    display: none;
    margin-top: 1%;
}

.item2 {
    grid-area: tandlægeskræk;
}

.item3 {
    grid-area: priser;
}

.item4 {
    grid-area: billede;
    display: none;
}

.item5 {
    grid-area: omos;
}

.grid-container {
    display: grid;
    grid-template-areas: 'tandlægeskræk' 'priser' 'omos' 'billede';
    grid-gap: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

.grid-container > div {
    background-color: ;
    text-align: center;
}

/*footer*/

.gridfooter {
    display: flex;
    grid-template-areas: 'footer';
    position: relative;
    grid-template-rows: 50px
}

.footer {
    grid-area: footer;
    background-color: white;
    margin-top: 2%;

}

.logoflex {
    display: flex;
    flex-direction: row;
}

.fblogo {
    width: 6%;
    margin-right: 7%;
    margin-top: 1.5%
}

.maps {
    width: 6%;
    margin-right: 3%;
    margin-top: 1.3%
}

#footeradresse {
    float: left;
    margin-left: 3%;
    font-family: 'Roboto', sans-serif;
    color: #6b6b6b;
    font-size: 70%;

}

#footertlf {
    display: none;
}

/*footer*/

/*TABLET*/

@media only screen and (min-width: 480px) {

    body {
        margin: 0%;
    }

    /*MENU*/
    .menu {
        display: flex;
        margin-top: 0%;
    }
    .menu a {
        clear: right;
        text-decoration: none;
        color: gray;
        font-size: 36%;
        margin: 2%;
        margin-top: 2px;
        font-family: 'Roboto', sans-serif;

    }
    .menu a:hover {
        background-color: #7aaddb;
        padding: 7px;
        color: white;
    }

    label {
        margin: 0 40px 0 0;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }
    #toggle {
        display: none;
    }

    /*MENU*/
    #logo {
        width: 48%;
        margin-left: 10%;
        margin-top: -1.5%
    }
    #tlf {
        padding-top: 4px;
        font-family: 'Roboto', sans-serif;
        font-size: 60%;
        color: white;
    }

    .skov {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;

    }
    .mobilskov {
        width: 100%;
        display: none;
    }
    .item2 {
        grid-area: tandlægeskræk;
    }
    .item3 {
        grid-area: priser;
    }
    .item4 {
        grid-area: billede;
        display: block;
    }
    .item5 {
        grid-area: omos;
    }

    .grid-container {
        display: grid;
        grid-template-areas: 'priser billede' 'tandlægeskræk tandlægeskræk' 'omos omos';
        margin-left: 10%;
        margin-right: 10%;

    }
    .grid-container > div {
        background-color: ;
        text-align: center;
    }
    .gridfooter {
        display: grid;
        grid-template-areas: 'footer';
        position: relative;
        grid-template-rows: 80px;

    }

    .fblogo {
        width: 4%;
        float: right;
        margin-right: %;
        margin-top: 2.1%
    }

    .maps {
        width: 4%;
        float: right;
        margin-right: 10%;
        margin-top: 1.8%
    }

    #footeradresse {
        float: left;
        margin-left: 10%;
        font-family: 'Roboto', sans-serif;
        color: #6b6b6b;
        font-size: 15px;

    }

}

/*DESKTOP*/

@media only screen and (min-width: 1024px) {

    body {
        margin: 0%;
    }

    /*MENU*/
    .menu {
        display: flex;
        margin-top: 0%;
    }
    .menu a {
        clear: right;
        text-decoration: none;
        color: gray;
        font-size: 45%;
        margin: 2%;
        margin-top: 2px;
        font-family: 'Roboto', sans-serif;
    }
    .menu a:hover {
        background-color: #7aaddb;
        padding: 7px;
        color: white;
    }

    .menu a:active {
        background-color: aquamarine;
    }
    label {
        margin: 0 40px 0 0;
        font-size: 26px;
        line-height: 70px;
        display: none;
        width: 26px;
        float: right;
    }
    #toggle {
        display: none;
    }

    /*MENU*/
    #logo {
        width: 40%;
        margin-left: 13%;
        margin-top: -1.2%;

    }


    #tlf {
        font-family: 'Roboto', sans-serif;
        font-size: 60%;
        color: white;

    }

    .grid-container1 {
        display: grid;
        grid-template-areas: 'header header header header header header' 'header2 header2 header2 header2 header2 header2' 'header3 header3 header3 header3 header3 header3';
        grid-template-rows: 30px 60px 60px;

    }
    .grid-container1 > div {
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }

    .skov {
        width: 74%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }
    .mobilskov {
        width: 100%;
        display: none;
    }
    .item2 {
        grid-area: tandlægeskræk;
    }
    .item3 {
        grid-area: priser;
    }
    .item4 {
        grid-area: billede;
        display: block;
    }
    .item5 {
        grid-area: omos;
    }
    .grid-container {
        display: grid;
        grid-template-areas: 'tandlægeskræk tandlægeskræk priser billede''tandlægeskræk tandlægeskræk omos omos';
        grid-gap: ;
        margin-left: 13%;
        margin-right: 13%;
        margin-top: 1%;
    }

    /*footer*/
    .gridfooter {
        display: grid;
        grid-template-areas: 'footer';
        position: relative;
        grid-template-rows: 80px
    }
    .footer {
        grid-area: footer;
        background-color: white;
        margin-top: 2%;

    }

    .fblogo {
        width: 3%;
        float: right;
        margin-right: 23%;
        margin-top: -4.5%
    }

    .maps {
        width: 3.4%;
        float: right;
        margin-right: 13%;
        margin-top: -5%
    }

    #footeradresse {
        float: left;
        margin-left: 13%;
        font-family: 'Roboto', sans-serif;
        color: #6b6b6b;
        font-size: 15px;
    }

    #footertlf {
        margin-left: 45%;
        font-family: 'Roboto', sans-serif;
        color: #6b6b6b;
        display: block;
        font-size: 15px;
    }
    /*footer*/
}
