html {


    margin: 0;
    box-sizing: border-box;
    width: 100%;

}

#portfoliobg {
    width: 100%;
}

.ommig {
    text-align: center;
}

.container {

    flex-direction: row;
}

.container1 {

    flex-direction: row;
}

.portfolio {
    text-align: center;
}

.flaske {
    width: 50%

}

/* MENU */

label {
    font-size: 35px;
    display: block;
    width: 20px;
    color: white;
    position: absolute;
    top: 12px;
    right: -0px;
    padding-right: 25px;
}

label {
    cursor: default;
}

#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: inline-block;
}

.menu {
    text-align: center;
    width: 100%;
    display: none;
    position: fixed;
}

.menu a {
    text-decoration-line: none;
    color: white;
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    border-style: ridge;
    background-color: black;
    padding: 6px;
}

/* MENU SLUT */

/* FOOTER */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
    color: white;
    text-align: center;
}

/* FOOTER SLUT*/

@media(min-width: 768px) {


    .container {
        display: flex;
        justify-content: space-between;
    }

    .container1 {
        display: flex;
        justify-content: space-between;
    }


    /* MENU */
    label {
        display: none;

    }

    #toggle {
        display: none;

    }

    .menu {
        display: block;
        background-color: black;



    }

    .menu a {
        display: inline;
        border-style: none;
        font-size: 25px;
        margin: 10%;
        text-align: center;

        padding-top: 0px;
    }
    /* MENU SLUT */
    /* FOOTER */
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: lightgrey;
        color: white;
        text-align: center;
    }
    /* FOOTER SLUT*/
}
